:root {
    --main-font: 'Open Sans', sans-serif;
    --font-color: #2b2a29;
    --header-color: #f3f1f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 150px 40px;
    background: var(--header-color);
}

header h1 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: var(--font-color);
    font-family: var(--main-font);
}

li {
    margin-top: 20px;
    font-family: var(--main-font);
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    letter-spacing: 4px;
    color: var(--font-color);
    padding-bottom: 2px;
}

body {
    background: white;
}

.about-me {
    display: flex;
    justify-content: center;
    background: var(--header-color);
    padding-bottom: 140px;
}

.about-box {
    padding-left: 75px;
}

.about-box p, .about-box h2 {
    font-family: var(--main-font);
    color: var(--font-color);
}

.about-box h2 {
    text-transform: uppercase;
}

.img-box {
    order: 1;
    position: relative;
    bottom: 55px;
}

.img-box img {
    width: 315px;
}

.about-me h2, .work h2, .contact h2 {
    font-size: 35px;
}

.content {
    text-align: justify;
}

.featured {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.featured-projects {
    display: flex;
    flex-direction: column;
}

.secondary-project-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.bar-container {
    margin-right: 10px;
}

.marketing {
    width: 700px;
}

.record, .bar  {
    width: 320px;
    height: 478.22px;
}

.contact {
    padding-bottom: 40px;
}

.about-content p, .content p {
    padding: 10px 20px 10px 20px;
}
.phone-number, .email {
    margin-right: 5px;
}


@media screen and (min-width: 768px) {

    .nav-bar {
        margin: 0 10px;
    }

    li {
        display: inline-block;
    }

    nav a {
        text-decoration: none;
        letter-spacing: 4px;
        padding-bottom: 2px;
    }

    .about-content p {
        padding: 10px 60px 10px 20px;
    }

    .about-box {
        margin-right: 95px;
        width: 35%;
        text-align: left;
    }

    .about-box p {
        margin-top: 25px;
    }

    .featured h2, .contact h2 {
        font-size: 35px
    }
