:root {
    --main-font: 'Open Sans', sans-serif;
    --font-color: #202020;
    --header-color: #f3f1f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*display h1 and h2 as uppercase*/

h1, 
h2 {
    text-transform: uppercase;
    font-family: var(--main-font);
}

.mainworkh2 {
    text-align: center;
    font-family: var(--main-font);
    letter-spacing: 15px;
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0;
}


/*Display header as flex column for cellphone*/

header {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 20px 0px 40px;
    background: var(--header-color);
}

header h1 {
    text-transform: var(--uppercase);
    letter-spacing: 15px;
    color: var(--font-color);
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 100;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 20px;
    font-family: var(--main-font);
}

nav {
    margin-top: 20px;
}

/*edit letter spaceing to resemble h1 tag*/

nav a {
    text-decoration: none;
    letter-spacing: 4px;
    color: var(--font-color);
    padding-bottom: 2px;
    padding-right: 10px;
}

nav a:hover {
    opacity: .6;
}

body {
    background: white;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--header-color);
    padding: 30px;
}

.about-box {
    text-align: center;
}

.about-box p, .about-box h2 {
    font-family: var(--main-font);
    color: var(--font-color);
}

/*change order of header picture to be on the right side*/

.img-box {
    order: 1;
}

.img-box img {
    width: 265px;
}

.content {
    text-align: justify;
}

.featured {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.featured-projects {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.featured-projects h2 {
    font-family: var(--main-font);
    color: var(--font-color);
    text-align: center;
    margin-bottom: 10px;
}

.main-project-container h3, .bar-container h3, .record-container h3, h3 {
    font-family: var(--main-font);
    color: var(--font-color);
    font-size: 20px;
    text-align: center;
}

/*add blurr effect when hovering over projects*/

.main-project-container img:hover {
    filter: blur(2px);
}

.bar-container img:hover {
    filter: blur(2px);
}

.record-container img:hover {
    filter: blur(2px);
}

.schedule-container img:hover {
    filter: blur(2px);
}

.marketing {
    width: 100%;
}

.bar-container, .record-container, .schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.secondary-project-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.record, .bar , .daily-work-schedule{
    width: 100%;
}

.box {
    text-align: center;
}

.contact {
    padding: 40px 0 40px 0;
}

.about-content p, .content p {
    padding: 10px 20px 10px 20px;
}

.info li {
    padding: 10px;
}

.phone-number, .email {
    margin-right: 5px;
}

.box h2 {
    font-family: var(--main-font);
    color: var(--font-color);
}

footer {
    padding:20px;
    background: var(--font-color);
}

footer h4 {
    text-align: center;
    font-family: var(--main-font);
    color: var(--header-color);
}

.findme {
    margin-right: 5px;
}

.bi {
    text-decoration: none;
    font-size: 20px;
}

.bi-linkedin {
    color: #3b5998;
}

/*responsive screen layout below*/

@media screen and (min-width: 768px) {

    header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 150px 40px;
    background: var(--header-color);
}

    .nav-bar {
        margin: 0 10px;
    }

    li {
        display: inline-block;
    }

    nav a {
        text-decoration: none;
        letter-spacing: 4px;
        padding-bottom: 2px;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: var(--header-color);
        padding-bottom: 140px;
    }

    .img-box {
        order: 1;
        position: relative;
        bottom: 55px;
    }
    
    .about-box {
        margin-right: 95px;
        width: 35%;
        text-align: left;
    }

    .about-box p {
        margin-top: 25px;
    }

    .featured {
        margin-top: 30px;
    }
    

    .bar-container {
        margin-right: 10px;
    }
    
    .marketing {
        width: 700px;
    }
    
    .record, .bar , .daily-work-schedule{
        width: 320px;
        height: 165px;
    }

    .main-project-container h3, .bar-container h3, .record-container h3 {
        font-family: var(--main-font);
        color: var(--font-color);
        font-size: 20px;
    }

    .secondary-project-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .box {
        text-align: center;
    }

/*below css prevents the nav bar from wraping underneath itself and insetad wraps under h1 with a max width of 843px*/
    
    @media screen and (max-width: 843px) {
        header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
        }
        
    }